body {
  background: #e0e0e0; }

header {
  background: white;
  border-bottom: 1px solid #e0e0e0; }

* {
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  height: 100vh; }

button:hover {
  background: #e0e0e0; }

a,
button,
select {
  text-decoration: none;
  color: #111111; }

select {
  border: 1px solid #9b9b9b;
  background: white; }

header {
  width: 100%;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

#header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #111111;
  text-transform: uppercase; }

main {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: #e0e0e0; }
  @media (min-width: 768px) {
    main {
      width: 90%; } }

.image-viewer {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: white;
  height: 100%;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  min-height: 85vh;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .image-viewer {
      min-height: fit-content; } }

#image-viewer__buttons {
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px; }
  @media (min-width: 500px) {
    #image-viewer__buttons {
      flex-direction: row; } }
  #image-viewer__buttons button {
    flex: 1 1 0;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    #image-viewer__buttons button:hover {
      background: #e0e0e0; }

#email-addresses {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 20px 0;
  text-align: center; }
  #email-addresses #email-select {
    margin-bottom: 10px; }
    #email-addresses #email-select select {
      width: 250px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 3px; }
  #email-addresses #add-new-email {
    display: flex;
    gap: 0;
    margin-bottom: 10px;
    width: 250px; }
    #email-addresses #add-new-email input {
      width: 100%;
      margin: 0;
      border-radius: 3px 0 0 3px;
      border: 1px solid #9b9b9b;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    #email-addresses #add-new-email button {
      margin: 0;
      border-radius: 0 3px 3px 0;
      border: 1px solid #9b9b9b;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer; }

#image-viewport__container {
  width: fit-content;
  margin: 20px auto;
  background: #e0e0e0;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

#image-viewport {
  position: relative;
  margin: auto;
  background: #111111;
  flex: 1 1 0; }
  #image-viewport a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer; }

#image-aspect-ratio__buttons {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap; }
  #image-aspect-ratio__buttons button {
    position: relative;
    width: 40px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    cursor: pointer; }
    #image-aspect-ratio__buttons button:hover {
      background: #e0e0e0; }
      #image-aspect-ratio__buttons button:hover::after, #image-aspect-ratio__buttons button:hover::before {
        width: 20%; }
    #image-aspect-ratio__buttons button::after, #image-aspect-ratio__buttons button::before {
      content: "";
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 0;
      display: block;
      background: #8d8dff;
      transition: 0.3s ease;
      padding: 0;
      margin: auto; }
    #image-aspect-ratio__buttons button::after {
      left: 50%; }
    #image-aspect-ratio__buttons button::before {
      right: 50%; }
    #image-aspect-ratio__buttons button.selected {
      box-shadow: 0 0 10px white; }
      #image-aspect-ratio__buttons button.selected::after, #image-aspect-ratio__buttons button.selected::before {
        width: 50%; }

#emailMessage {
  position: absolute;
  width: 100%;
  font-size: .8em;
  display: none;
  text-wrap: pretty; }
  #emailMessage.positive {
    color: #8dff8d; }
  #emailMessage.negative {
    color: #ff8d8d; }

#addImageMessage {
  position: absolute;
  width: 100%;
  bottom: -10px;
  text-wrap: pretty;
  font-size: 1em;
  text-align: center; }
  #addImageMessage.positive {
    color: #8dff8d; }
  #addImageMessage.negative {
    color: #ff8d8d; }

.ratio1-1 {
  width: 200px;
  height: 200px; }
  @media (min-width: 768px) {
    .ratio1-1 {
      width: 300px;
      height: 300px; } }
  @media (min-width: 960px) {
    .ratio1-1 {
      width: 400px;
      height: 400px; } }
  @media (min-width: 1200px) {
    .ratio1-1 {
      width: 500px;
      height: 500px; } }

.ratio3-2 {
  width: 300px;
  height: 200px; }
  @media (min-width: 768px) {
    .ratio3-2 {
      width: 450px;
      height: 300px; } }
  @media (min-width: 960px) {
    .ratio3-2 {
      width: 600px;
      height: 400px; } }
  @media (min-width: 1200px) {
    .ratio3-2 {
      width: 750px;
      height: 500px; } }

.ratio4-3 {
  width: 240px;
  height: 180px; }
  @media (min-width: 768px) {
    .ratio4-3 {
      width: 360px;
      height: 270px; } }
  @media (min-width: 960px) {
    .ratio4-3 {
      width: 480px;
      height: 360px; } }
  @media (min-width: 1200px) {
    .ratio4-3 {
      width: 600px;
      height: 450px; } }

.ratio16-9 {
  width: 320px;
  height: 180px; }
  @media (min-width: 768px) {
    .ratio16-9 {
      width: 480px;
      height: 270px; } }
  @media (min-width: 960px) {
    .ratio16-9 {
      width: 640px;
      height: 360px; } }
  @media (min-width: 1200px) {
    .ratio16-9 {
      width: 800px;
      height: 450px; } }

.error input,
.error button {
  outline: 1px solid #ff8d8d; }

.collection-viewer {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: white;
  height: fit-content;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .collection-viewer h3 {
    margin: auto;
    text-align: center; }

.collection-selector {
  margin: 10px auto;
  align-content: center;
  text-align: center; }
  .collection-selector select {
    width: 250px;
    border-radius: 3px; }

.selected-collection {
  margin: 10px auto; }

#delete-collection {
  display: block;
  margin: 10px auto;
  background: #ff8d8d;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer; }
  #delete-collection:hover {
    background: #ff2727; }

.title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.tabs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .tabs .tab {
    height: 29px;
    width: 80px;
    text-align: center;
    align-content: center;
    border: 1px solid #e0e0e0;
    transition: 0.3s ease;
    cursor: pointer; }
    .tabs .tab::after {
      position: relative;
      width: 0;
      content: "";
      display: block;
      background: #8d8dff;
      height: 2px;
      margin: auto;
      transition: 0.3s ease;
      bottom: -2px; }
    .tabs .tab:hover::after {
      width: 40%;
      content: "";
      display: block;
      background: #8d8dff;
      height: 2px;
      margin: auto; }
    .tabs .tab.current {
      position: relative;
      border-bottom: none;
      height: 30px;
      top: 1px;
      background: white; }
      .tabs .tab.current::after {
        width: 100%;
        content: "";
        display: block;
        background: #8d8dff;
        height: 2px;
        margin: auto; }

#image-tile-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; }

.image-tile {
  position: relative;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .image-tile .delete-tile {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #ff8d8d;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer; }
    .image-tile .delete-tile:hover {
      color: #ff2727; }
  .image-tile .resolution {
    position: absolute;
    top: 100%;
    width: 100%;
    height: fit-content;
    font-size: .8em;
    background: #e0e0e0;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-radius: 0 0 3px 3px;
    color: #111111; }
  .image-tile a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

/*# sourceMappingURL=application.css.map */
