body.dark {
    background: $darkgrey;


    // Background colours

    main,
    .tab,
    #image-viewport__container,
    #image-aspect-ratio__buttons button,
    select,
    #email,
    #add-new-email button,
    #image-viewer__buttons button,
    .resolution {
        background: $darkgrey;
    }

    header,
    .image-viewer,
    .collection-viewer,
    .tab.current,
    #header-settings,
    .settings-menu-inner {
        background: $offblack;
    }




    // Font colours



    #settings-button-close {
        color: $blue;
    }


    header,
    .image-viewer,
    .collection-viewer,
    .tab.current,
    #header-settings,
    .settings-menu-inner,
    h1,
    #email-addresses #add-new-email button,
    .tab,
    #image-aspect-ratio__buttons button,
    select,
    #email,
    #add-new-email button,
    #image-viewer__buttons button,
    .resolution {
        color: white;
    }




    /// Borders

    header,
    .image-viewer,
    select,
    .collection-viewer,
    #image-viewer__buttons button,
    #image-viewport__container,
    #image-aspect-ratio__buttons button,
    .resolution,
    .settings-menu-inner,
    .tab,
    #email-addresses #add-new-email input,
    #email-addresses #add-new-email button {
        border: 1px solid $blue;
    }

    .title {
        border-bottom: 1px solid $blue;
    }

    #delete-collection {
        border: none;
    }

}

