.collection-viewer {
    position: absolute;
    top: 30px;

    width: 100%;
    background: $offwhite;
    height: 100px;
    border: 1px solid $palegrey;
    box-shadow: 0 0 10px $shadow;

    border-radius: 3px;

}