.image-viewer {
    // Sizing/position
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 85vh;

    // Colours/style
    background: white;
    border: 1px solid $palegrey;
    box-shadow: 0 0 10px $shadow;
    padding-bottom: 20px;

    @media (min-width: $break-small) {
        height: fit-content;
    }

    border-radius: 3px;


}



#image-viewer__buttons {
    // Sizing/position
    width: fit-content;
    margin: auto;
    padding: 10px 20px;

    // Flex settings
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $break-xs) {
        flex-direction: row;
    }




    // Buttons
    button {
        flex: 1 1 0;
        border: 1px solid $grey;
        border-radius: 3px;
        background: white;
        &:hover {
            background: $palegrey;
        }
        box-shadow: 0 0 5px $shadow;
        cursor: pointer;

    }
}



#email-addresses {
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    #email-select {
        margin-bottom: 10px;
        select {
            width: 300px;
            box-shadow: 0 0 5px $shadow;
            border-radius: 3px;
        }
    }

    #add-new-email {
        display: flex;
        gap: 0;
        margin-bottom: 10px;
        width: 300px;
        input {
            width: 100%;
            margin: 0;
            border-radius: 3px 0 0 3px;
            border: 1px solid $grey;
            box-shadow: 0 0 5px $shadow;
        }
        button {
            margin: 0;
            border-radius: 0 3px 3px 0;
            border: 1px solid $grey;
            box-shadow: 0 0 5px $shadow;
            cursor: pointer;
        }
    }
}

#image-viewport__container {
    // Position and sizing
    width: fit-content;
    margin: 20px auto;

    // Colours/style
    background: $palegrey;
    border: 1px solid $grey;
    border-radius: 3px;
    box-shadow: 0 0 5px $shadow;
}


#image-viewport {
    position: relative;
    margin: auto;
    background: $offblack;
    flex: 1 1 0;
    a {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        cursor: pointer;
    }


}

#image-aspect-ratio__buttons {

    // Position and size
    width: 100%;
    margin: 10px auto;
    

    // Flex settings
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;



    // Buttons
    button {
        // Size and position
        position: relative;
        width: 40px;

        // Colours/style
        font-size: .8em;
        background: white;
        &:hover {
            background: $palegrey;
            &::after,
            &::before {
                width: 20%;
            }
        }
        box-shadow: 0 0 5px $shadow;
        border: 1px solid $grey;
        border-radius: 3px;
        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            height: 2px;
            width: 0;
            display: block;
            background: $blue;
            transition: 0.3s ease;
            padding: 0;
            margin: auto;
        }
        &::after {
            left: 50%;
        }
        &::before {
            right: 50%;
        }


        &.selected {
            &::after,
            &::before {
                width: 50%;
            }
        }

        cursor: pointer;
    }
}

#emailMessage {
    position: absolute;
    width: 100%;
    font-size: .8em;
    display: none;
    text-wrap: pretty;

    &.positive {
        color: $green;
    }
    &.negative {
        color: $red;
    }
}

#addImageMessage {
    position: absolute;
    width: 100%;
    bottom: -10px;
    text-wrap: pretty;
    font-size: 1em;
    text-align: center;
    &.positive {
        color: $green;
    }
    &.negative {
        color: $red;
    }
}


// Classes for aspect ratios
.ratio1-1 {
    width: 200px;
    height: 200px;
    @media (min-width: $break-small) {
        width: 300px;
        height: 300px;
    }
    @media (min-width: $break-medium) {
        width: 400px;
        height: 400px;
    }
    @media (min-width: $break-large) {
        width: 500px;
        height: 500px;
    }
}
.ratio3-2 {
    width: 300px;
    height: 200px;
    @media (min-width: $break-small) {
        width: 450px;
        height: 300px;
    }
    @media (min-width: $break-medium) {
        width: 600px;
        height: 400px;
    }
    @media (min-width: $break-large) {
        width: 750px;
        height: 500px;
    }
}
.ratio4-3 {
    width: 240px;
    height: 180px;
    @media (min-width: $break-small) {
        width: 360px;
        height: 270px;
    }
    @media (min-width: $break-medium) {
        width: 480px;
        height: 360px;
    }
    @media (min-width: $break-large) {
        width: 600px;
        height: 450px;
    }
}
.ratio16-9 {
    width: 320px;
    height: 180px;
    @media (min-width: $break-small) {
        width: 480px;
        height: 270px;
    }
    @media (min-width: $break-medium) {
        width: 640px;
        height: 360px;
    }
    @media (min-width: $break-large) {
        width: 800px;
        height: 450px;
    }
}

.error {
    input,
    button {
        outline: 1px solid $red;
    }
}

// QuickLoad div for eager loading

#quickLoad {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;

}