#image-tile-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.image-tile {
    position: relative;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 5px $shadow;
    margin-bottom: 20px;

    .delete-tile {
        position: absolute;
        top: 2px;
        right: 5px;
        color: $red;

        padding: 0;
        margin: 0;
        background: transparent;
        border: none;

        &:hover {
            color: darken($red, 20%);
        }

        cursor: pointer;
    }
    .resolution {
        position: absolute;
        top: 100%;
        width: 100%;
        height: fit-content;;
        font-size: .8em;
        background: $palegrey;
        text-align: center;
        border: 1px solid $grey;
        border-radius: 0 0 3px 3px;
        color: $offblack;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
}