.image-viewer {
    position: absolute;
    top: 30px;
    left: 0;

    width: 100%;
    background: $offwhite;
    height: fit-content;
    border: 1px solid $palegrey;
    box-shadow: 0 0 10px $shadow;
    padding-bottom: 20px;

    border-radius: 3px;


}



#image-viewer__buttons {
    // Sizing/position
    width: fit-content;
    margin: auto;
    padding: 10px 20px;

    // Flex settings
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $break-xs) {
        flex-direction: row;
    }




    // Buttons
    button {
        flex: 1 1 0;
        border: 1px solid $grey;
        border-radius: 3px;
        background: $offwhite;
        &:hover {
            background: $palegrey;
        }
        box-shadow: 0 0 5px $shadow;
    }
}



#email-addresses {
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    #email-select {
        margin-bottom: 10px;
        select {
            width: 250px;
            box-shadow: 0 0 5px $shadow;
            border-radius: 3px;
            background: white;
        }
    }

    #add-new-email {
        display: flex;
        gap: 0;
        margin-bottom: 10px;
        width: 250px;
        input {
            width: 100%;
            margin: 0;
            border-radius: 3px 0 0 3px;
            border: 1px solid $grey;
            box-shadow: 0 0 5px $shadow;
        }
        button {
            margin: 0;
            border-radius: 0 3px 3px 0;
            border: 1px solid $grey;
            box-shadow: 0 0 5px $shadow;
        }
    }
}

#image-viewport__container {
    // Position and sizing
    width: fit-content;
    margin: 20px auto;

    // Colours/style
    background: $palegrey;
    border: 1px solid $grey;
    border-radius: 3px;
    box-shadow: 0 0 5px $shadow;
}


#image-viewport {
    width: 200px;
    height: 200px;
    margin: auto;
    background: $offblack;
    flex: 1 1 0;
    border-bottom: 1px solid $grey;
}

#image-aspect-ratio__buttons {

    // Position and size
    width: 100%;
    margin: 10px auto;
    

    // Flex settings
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;



    // Buttons
    button {
        // Size and position
        position: relative;
        width: 40px;

        // Colours/style
        background: $offwhite;
        &:hover {
            background: $palegrey;
        }
        box-shadow: 0 0 5px $shadow;
        border: 1px solid $grey;
        border-radius: 3px;

        &.selected::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            border-bottom: 1px solid $grey;
            left: 0;
            bottom: -3px;
        }
    }
}
