main {
    // Size/position
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    @media (min-width: $break-small) {
        width: 90%;
    }


    // Flex settings
    display: flex;
    gap: 20px;
    flex-direction: column;

    // Colours/style
    background: $palegrey;
}
