.tabs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .tab {
        height: 29px;
        width: 80px;
        text-align: center;
        align-content: center;
        border: 1px solid $palegrey;
        transition: 0.3s ease;
        &::after {
            position: relative;
            width: 0;
            content: "";
            display: block;
            background: $blue;
            height: 2px;
            margin: auto;
            transition: 0.3s ease;
            bottom: -2px;

        }
        &:hover {
            &::after {
                width: 40%;
                content: "";
                display: block;
                background: $blue;
                height: 2px;
                margin: auto;

            }
        }

        &.current {
            position: relative;
            border-bottom: none;
            height: 30px;
            top: 1px;
            background: white;
            &::after {
                width: 100%;
                content: "";
                display: block;
                background: $blue;
                height: 2px;
                margin: auto; 

            }
        }

        cursor: pointer;


    }
}