.tabs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .tab {
        height: 29px;
        width: 80px;
        text-align: center;
        align-content: center;
        border: 1px solid $palegrey;

        &.current {
            position: relative;
            border-bottom: none;
            height: 30px;
            top: 1px;
        }
    }
}