* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;


    height: 100vh;

}

button:hover {
    background: $palegrey;
}

a,
button,
select {
    text-decoration: none;
    color: $offblack;
}


select {
    border: 1px solid $grey;
    background: white;
}