// Primary colours

$red   : #ff8d8d;
$green : #8dff8d;
$blue  : #8d8dff;



// Greys

$offblack : #111111;
$palegrey : #e0e0e0;
$grey     : #9b9b9b;
$darkgrey : #535353;



// Shadow

$shadow : rgba(0,0,0,0.2);