// base colours

$blue : #8d8dff;

$red : #ff8d8d;

$green : #8dff8d;

$beige : #dfd79f;


// Greys

$offwhite : #eeeeee;
$offblack : #111111;
$palegrey : #d6d6d6;
$grey : #777777;

$greygreen : #64dc64;
$palegreen : #b0ffb0;


// Shadow
$shadow : rgba(0,0,0,0.2);