// base colours

$blue : #8d8dff;
$paleblue : #c2c2ff;

$red : #ff8d8d;
$palered : #ffc2c2;

$neongreen : #5aff5a;
$green : #8dff8d;
$palegreen : #c2ffc2;

$beige : #dfd79f;


// Greys

$offblack : #111111;
$palegrey : #e0e0e0;
$grey : #9b9b9b;
$darkgrey : #535353;

$greygreen : #64dc64;



// Shadow
$shadow : rgba(0,0,0,0.2);